@{
    ViewData["Title"] = "Home Page";
    Layout = "/Shared/Views/_Layout.cshtml";
}

@inject TheMoney.Shared.UXServices.ITranslationService translationService

<!-- Data size per date chart -->
<div class="row">
    <div class="col-6">
        <div class="my-3 p-3 bg-blue rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Data size per date</h6>
            <div>
                <canvas id="chartDataSizePerDate"></canvas>
            </div>
        </div>
    </div>
    <!-- Data import box -->
    <div class="col-6">
        <div class="my-3 p-3 bg-blue rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">@translationService.GetTranslation("page.home.data_imports")</h6>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">test.xml</strong>
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">test0202.xml</strong>
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">mybank2021.xml</strong>
                </p>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">All files</a>
            </small>
        </div>
        <!-- Data import box -->
        <div class="my-3 p-3 bg-blue rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">@translationService.GetTranslation("page.home.import_more_data")</h6>
            <form method="post" enctype="multipart/form-data" action="/Data/Import">
                <div class="custom-file">
                    @Html.AntiForgeryToken()
                    <input type="file" class="btn btn-light" id="dataFile" name="dataFile" accept=".xml,.csv">
                    <input type="submit" class="btn btn-success btn-sm" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    /* Draw the "Data size per date" chart */
    const dataSizePerDateChartLabels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
    ];
    const dataSizePerDateChartData = {
        labels: dataSizePerDateChartLabels,
        datasets: [{
            label: 'Data size in Kilobytes',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
        }]
    };

    const dataSizePerDateChartConfig = {
        type: 'line',
        data: dataSizePerDateChartData,
        options: {}
    };

    var dataSizePerDateChart = new Chart(
        document.getElementById('chartDataSizePerDate'),
        dataSizePerDateChartConfig
    );

    /* Draw the "Data size per date" chart */</script>